


    <div class="col-lg-12 zeropad">

        <div class="col-lg-3 zeropad">

            <div class="panel-group zeropad">
                <div class="panel panel-default">
                    <div class="panel-heading fltrbox">Price</div>
                    <div class="panel-body">
                        <p>Price Range</p>
                        <input id="Text2" style="width: 70px;color:black" type="text" /><span>&nbsp;-&nbsp;</span><input id="Text3"  style="width: 70px;color:black" type="text" />&nbsp;&nbsp;<input id="Button1" style="color:black" type="button" value="Go" /><br /><br />
                        <input id="Checkbox1" type="checkbox" /> Rs. 500 and Below<br />
                        <input id="Checkbox2" type="checkbox" /> Rs. 501 - 1000<br />
                        <input id="Checkbox3" type="checkbox" /> Rs. 500 - 1500<br />
                        <input id="Checkbox4" type="checkbox" /> Rs. 1501 - 2000<br />
                        <input id="Checkbox5" type="checkbox" /> Rs. 2001 - 2500<br />
                        <input id="Checkbox6" type="checkbox" /> Rs. 2501 and Above
                    </div>
                </div>
            </div>

            <div class="panel-group zeropad">
                <div class="panel panel-default">
                    <div class="panel-heading fltrbox">Category</div>
                    <div class="panel-body">
                        <input id="Checkbox7" type="checkbox" /> Golden Petal<br />
                        <input id="Checkbox8" type="checkbox" /> Dream Design<br />
                        <input id="Checkbox9" type="checkbox" /> Florets<br />
                        <input id="Checkbox10" type="checkbox" /> Princess Collection<br />
                        <input id="Checkbox11" type="checkbox" /> Bridal Fashion<br />
                        <input id="Checkbox12" type="checkbox" /> Trendy Wave
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-9 zeropad">

            <div class="col-lg-12">
                <div class="col-lg-7"><img src="~/images/page2/heading.jpg" class="imagestyl" /></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <div style="margin-top: 14%;">
                    Sort By&nbsp;<select id="Select1" class="black">
                        <option>Popularity</option>
                        <option>Trending</option>
                        <option>Leatest</option>
                    </select>
                </div>
                    
                </div>
                    
            </div>
            <div class="col-lg-12"><hr/></div>

            <div class="col-lg-12">
                <div class="col-lg-4">
                <a href="/Home/Details"><img src="~/images/page1/page1_41.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond <span class="pull-right">Rs.1900</span> </span>
                </div>

                <div class="col-lg-4">
                <a href="/Home/Details"> <img src="~/images/page1/page1_39.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond<span class="pull-right">Rs.1900</span></span>
                </div>

                <div class="col-lg-4">
                <a href="/Home/Details">  <img src="~/images/page1/page1_36.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond<span class="pull-right">Rs.1900</span></span>
                </div>
            </div>

            <div class="col-lg-12" style="margin-bottom: 3%;">
                <div class="col-lg-4">
                <a href="/Home/Details">  <img src="~/images/page1/page1_36.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond <span class="pull-right">Rs.1900</span> </span>
                </div>

                <div class="col-lg-4">
                 <a href="/Home/Details"> <img src="~/images/page1/page1_39.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond<span class="pull-right">Rs.1900</span></span>
                </div>

                <div class="col-lg-4">
                 <a href="/Home/Details"> <img src="~/images/page1/page1_41.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond<span class="pull-right">Rs.1900</span></span>
                </div>
            </div>

            <div class="col-lg-12" style="margin-bottom: 3%;">
                <div class="col-lg-4">
                <a href="/Home/Details"><img src="~/images/page1/page1_36.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond <span class="pull-right">Rs.1900</span> </span>
                </div>

                <div class="col-lg-4">
               <a href="/Home/Details"> <img src="~/images/page1/page1_39.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond<span class="pull-right">Rs.1900</span></span>
                </div>

                <div class="col-lg-4">
              <a href="/Home/Details">  <img src="~/images/page1/page1_41.png" class="gallary2" /></a>
                   <span class="pricing"> Beautiful Diamond<span class="pull-right">Rs.1900</span></span>
                </div>
            </div>

        </div>

    </div>

        <div class="col-lg-12">
            <div class="col-lg-3 zeropad" style="background-color:#757378">
               <div style="padding-bottom: 22%;">
                    <p class="ftrhdr2">Help</p>
                    <a href="#"><span class="ftrpdng">How To Buy</span></a><br />
                    <a href="#"><span class="ftrpdng">Track Order</span></a><br />
                    <a href="#"><span class="ftrpdng">Payment</span></a><br />
                    <a href="#"><span class="ftrpdng">Shipping</span></a><br />
                    <a href="#"><span class="ftrpdng">Cancellations</span></a><br />
                    <a href="#"><span class="ftrpdng">FAQ</span></a><br />
                    <a href="#"><span class="ftrpdng">Helpdesk</span></a><br />
                    <a href="#"><span class="ftrpdng">Coupons</span></a>
               </div>
            </div>

            <div class="col-lg-3 zeropad" style="background-color:#757378">
               <div style="padding-bottom: 22%;">
                    <p class="ftrhdr2">Company</p>
                    <a href="#"><span class="ftrpdng">About Us</span></a><br />
                    <a href="#"><span class="ftrpdng">Contact Us</span></a><br />
                    <a href="#"><span class="ftrpdng">Carrers</span></a><br />
                    <a href="#"><span class="ftrpdng">Blog</span></a><br />
                    <a href="#"><span class="ftrpdng">Facbook</span></a><br />
                    <a href="#"><span class="ftrpdng">Google Plus</span></a><br />
                    <a href="#"><span class="ftrpdng">Terms</span></a><br />
                    <a href="#"><span class="ftrpdng">Privacy</span></a><br />
               </div>
            </div>

            <div class="col-lg-3 zeropad" style="background-color:#757378">
               <div style="padding-bottom: 22%;">
                    <p class="ftrhdr2">Business</p>
                    <a href="#"><span class="ftrpdng">Wholesale Order</span></a><br />
                    <a href="#"><span class="ftrpdng">International Buyers</span></a><br />
                    <a href="#"><span class="ftrpdng">Sell on Natchathra</span></a><br />
                    <a href="#"> <span class="ftrpdng">Designer Login</span></a><br />
                    <a href="#"><span class="ftrpdng">&nbsp;</span></a><br />
                    <span class="ftrpdng">&nbsp;</span><br />
                    <span class="ftrpdng">&nbsp;</span><br />
                   <span class="ftrpdng">&nbsp;</span><br />
               </div>
            </div>


            <div class="col-lg-3 zeropad" style="background-color:#757378">
               <div style="padding-bottom: 22%;">
                    <p class="ftrhdr2">Coupen Partners</p>
                    <a href="#"><span class="ftrpdng">Coupon Rani</span></a><br />
                    <a href="#"><span class="ftrpdng">Coupon Dunia</span></a><br />
                    <span class="ftrpdng">&nbsp;</span><br />
                    <span class="ftrpdng">&nbsp;</span><br />
                    <span class="ftrpdng">&nbsp;</span><br />
                    <span class="ftrpdng">&nbsp;</span><br />
                    <span class="ftrpdng">&nbsp;</span><br />
                    <span class="ftrpdng">&nbsp;</span>
                   <span class="ftrpdng">&nbsp;</span>
                   <span class="ftrpdng">&nbsp;</span>
                   <span class="ftrpdng">&nbsp;</span>
               </div>
            </div>
        </div>

       